*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: auto;
  height: top;
  background-color: black;
}
.background{
   table-layout: fixed;

  background-image: url(imagenes/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
border-spacing: 0; }

.lava          { background-image: url(imagenes/lava.gif);
                 background-size: cover;
                 background-position: center;       }

.wall          { background-image: url(imagenes/Castle_Wall.png);
                 background-size: cover;
                 background-position: center;       }

.actor  { position: absolute;  }
.coin   { background-image: url(imagenes/gric.png);
     background-size: cover;
    background-position: center;    }
.player { background-image: url(imagenes/player.png);
          background-size: cover;
          background-position: center; }
.monster { background-image: url(imagenes/boss_final.gif);
            background-size: cover;
            background-position: center; }
.game {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.enemy{background-image: url(imagenes/semi_boss.gif);
background-size: cover;
background-position: center; }

.enemy1{background-image: url(imagenes/boss1.gif);
background-size: cover;
background-position: center; }

.enemy2{background-image: url(imagenes/boss2.gif);
background-size: cover;
background-position: center; }

.enemy3{background-image: url(imagenes/boss4.gif);
background-size: cover;
background-position: center; }

.enemy4{background-image: url(imagenes/boss3.gif);
background-size: cover;
background-position: center; }

.bola{background-image: url(imagenes/bola.png);
background-size: cover;
background-position: center;
}

.laser{
  background-image: url(imagenes/laser.png);
  background-size: 100%;
  background-position: bottom;
}

.laser2{background-image: url(imagenes/laser2.png);
  background-size: cover;
  background-position: center;
}

.lost .player {
  background-image: url(imagenes/player_muerto.png);
}
.won .player {
  box-shadow: -4px -7px 8px rgb(0, 250, 42), 4px -7px 8px rgb(0, 250, 42);
}
#vidas{
  position: absolute;
  z-index: 9999999999999;
  color:white;
  top: 20px;
}
#pausa{
 position: absolute;
z-index: 9999999999999;
color:white;

}


body {
	margin: 0;
  overflow-Y: hidden; /*quitar el scroll*/
}
body {
	margin: 0;
  overflow-Y: hidden; /*quitar el scroll*/
}

.container {
	position: absolute;
	top: 0;
	background-image: url(imagenes/menu2.jpg);
	color: #fff;
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.preloader {
	margin: auto;

	width: 350px;
	height: 30px;
	background: rgba(255,255,255,0.1);
z-index: 99999999999999999999999;
	position: relative;
}

.preloader:before {
	content: "";
	position: absolute;
	background: green;
	width: 0;
	height: 30px;

	animation: preloader 10s infinite;
}

.preloader p {
	margin: 0;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.cerrar {
	transform: translateY(-100%);
	transition: all 0.5s;
}

@keyframes preloader {
	90% {
		width: 100%;
		opacity: 1;
	}
	100% {
		width: 100%;
		opacity: 0;
	}
}

#winner{
background-image: url(imagenes/win.jpg);
border-style: none;
  border:0px;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 700px;
  top: 100px;
  background-repeat: no-repeat;
  display: none;
  z-index: 999999;
  position: absolute;
}

#loser{
background-image: url(imagenes/lose.jpg);
border-style: none;
  border:0px;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 700px;
  top: 100px;
  background-repeat: no-repeat;
  display: none;
  z-index: 999999;
  position: absolute;

}
